@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.CodeAnalysis.CSharp.Syntax
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>Welcome to embedded stock staff site</h1>
    @if (!(await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded) { 
        <p>To do admin stuff you will have to login :) You big silly</p>   
    }
    
</div>